body {
  color: #1976d2;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Montserrat', sans-serif;
}


h2 {
  color: #004ba0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #004ba0;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #004ba0;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #63a4ff;
  /* position: relative; */
  /* padding-top: 100px;  */
}

.hero-title {
  padding: 1rem;
  text-transform: uppercase;
  animation-name: example1;
  animation-duration: 4s;
}

@keyframes example1 {
  from {
    color: red;
  }

  to {
    color: yellow;
  }
}

.middle-container {
  margin: 5rem 0;

}

.bottom-container {
  background-color: #63a4ff;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills {
  background-color: #63a4ff;
  color: #ffffff;
  padding: 5rem 0 2rem 0;
}

.pro {
  text-decoration: underline;
}

.intro {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  width: 50%;
  margin: 2rem auto 2rem auto;
  text-align: center;
  color: #004ba0;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.code-image {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 50%;
}

.imagecircle {
  border-radius: 50%;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #2572de;
  background-image: -webkit-linear-gradient(top, #2572de, #1356b4);
  background-image: -moz-linear-gradient(top, #2572de, #1356b4);
  background-image: -ms-linear-gradient(top, #2572de, #1356b4);
  background-image: -o-linear-gradient(top, #2572de, #1356b4);
  background-image: linear-gradient(to bottom, #2572de, #1356b4);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #356cba;
  background-image: -webkit-linear-gradient(top, #356cba, #4a90f3);
  background-image: -moz-linear-gradient(top, #356cba, #356cba);
  background-image: -ms-linear-gradient(top, #356cba, #356cba);
  background-image: -o-linear-gradient(top, #356cba, #356cba);
  background-image: linear-gradient(to bottom, #356cba, #356cba);
  text-decoration: none;
}

.web {
  border-style: solid;
  border-width: 10px;
  border-color: #004ba0;
  margin: 20px;
}

#pot {
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0% {
    left: -100%;
  }

  25% {
    left: 00%;
  }

}

.web-projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 3rem;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 1.8rem;
    margin: 2rem;
  }

  .middle-container {
    margin: 2rem 0;
  }

  .intro {
    width: 90%;
    font-size: 1.2rem;
  }

  p {
    line-height: 1.8;
    font-size: 1.2rem;
  }

  hr {
    margin: 1rem auto;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .btn {
    font-size: 1.2rem;
  }

  .skill-row {
    width: 90%;
    margin: 1rem auto 1rem auto;
  }

  body {
    font-size: 1rem;
  }

}

@media (max-width:1290px) {
  .intro {
    width: 80%;
  }

  .skill-row {
    width: 80%;
  }
}

.scroll-watcher {
  height: 4px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgb(4, 47, 111);
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  div>img {
    scale: 0.3;
    opacity: 0;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range: 5% 90%;
  }

  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }

  /* body>img {
    scale: 1;
    opacity: 1;
    animation: fade-out;
    animation-timeline: view();
    animation-range: 5% 50%;
  }

  @keyframes fade-out {
    to {
      scale: 0.1;
      opacity: 0.5;
    }
  } */
}
